*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(207, 207, 207);
    font-size: 10rem;
    font-family: sans-serif;
}

h1{
    font-size: 150%;
    height: fit-content;
}

h3{
    font-size: 1.5rem;
}

.card{
    width: 30rem;
    height: 30rem;
    box-shadow: 0.1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
}

.card__header{
    height: 20%;
    width: 100%;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    justify-self: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card__heading{
    font-size: 40%;
    color: #eeee;
    font-weight: 600;
}

.card__description{
    height: 60%;
    width: 100%;
    padding-left: 2rem;
    padding-top: 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.u-flex{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.u-flex-column{
    flex-direction: column;
}

.button{
    background-color: royalblue;
    padding: 2rem 4rem;
    font-family: sans-serif;
    font-size: 20%;
    color: rgb(207, 207, 207);
    border: none;
    border-radius: 1rem;
}

button:focus{
    border: 0.3rem solid blue;
    outline: none;
}

button:hover{
    cursor: pointer;
}